name: Tests

on:
  pull_request:

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Install Playwright Browsers
        run: bunx playwright install --with-deps chromium webkit

      - name: Run Playwright tests
        run: bun run test
        env:
          CI: true

      - name: Upload test results
        uses: actions/upload-artifact@v4
        if: always() # Upload results even if tests fail
        with:
          name: playwright-test-results
          path: test-results/
          retention-days: 2
